<!-- banner -->

<section>
<!--<div class="container">
<form class="well form-horizontal" action="https://formspree.io/boa.eorchard@gmail.com " method="post"  id="contact_form">
<!--<div class="spacer">
<h2>Contact Us</h2>
<div class="row contact">
  <div class="col-lg-6 col-sm-6 ">


                <input type="text" class="form-control" placeholder="Full Name">
                <input type="text" class="form-control" placeholder="Email Address">
                <input type="text" class="form-control" placeholder="Contact Number">
                <textarea rows="6" class="form-control" placeholder="Message"></textarea></br>
      <button type="submit" class="btn btn-success" name="Submit">Send Message</button>
          


                
        </div>
  <div class="col-lg-6 col-sm-6 ">
  <div class="well"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.7332365843645!2d-73.67942678471663!3d45.43487857910056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc916eb35368a2b%3A0xfe1db9865311b84!2s1481+Rue+Notre+Dame%2C+Lachine%2C+QC+H8S+2E2!5e0!3m2!1sen!2sca!4v1499102897892" width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
  </div>
</div>
</div>
</div>
</form>-->

<div class="inside-banner">
  <div class="container"> 
    <!--<span class="pull-right"><a href="#">Home</a> / Contact Us</span>-->
    <h2>Contact Us</h2>
</div>
</div>
<!-- banner -->


<div class="container">
<form class="well form-horizontal" action="https://formspree.io/boa.eorchard@gmail.com " method="post"  id="contact_form">
<div class="spacer">
<div class="row contact">
  <div class="col-lg-6 col-sm-6 ">


                <input type="text" class="form-control" placeholder="Full Name">
                <input type="text" class="form-control" placeholder="Email Address">
                <input type="text" class="form-control" placeholder="Contact Number">
                <textarea rows="6" class="form-control" placeholder="Message"></textarea>
      <button type="submit" class="btn btn-success" name="Submit">Send Message</button>
          


                
        </div>
  <div class="col-lg-6 col-sm-6 ">
  <div class="well"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.7332365843645!2d-73.67942678471663!3d45.43487857910056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc916eb35368a2b%3A0xfe1db9865311b84!2s1481+Rue+Notre+Dame%2C+Lachine%2C+QC+H8S+2E2!5e0!3m2!1sen!2sca!4v1499102897892" width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
  </div>
</div>
</div>
</div>
</section>

<!--<form action="https://formspree.io/boa.eorchard@gmail.com"
      method="POST">
    <input type="text" name="name">
    <input type="email" name="_replyto">
    <input type="submit" value="Send">
</form>
</body>-->