<!-- The content of your page would go here. -->

		<footer class="footer-distributed">

			<div class="footer-left">

				<div class="footer-tagline"><a href="index"><img border="0" alt="Joel St-Denis" src="img/jstd_logo.png" width="90" height="90"></a> Joel St-Denis-Courtier Immobilier</div>
				<p class="footer-links">
					<a href="index">Home</a>
					·
					<a href="#">About</a>
					·
					<a href="contact">Contact</a>
				</p>

				<p class="footer-company-name">Joel St-Denis &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>1481 rue Notre-Dame</span> Lachine, Quebec</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+1 514 449 4494</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:info@joelstdenis.com">info@joelstdenis.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					JSTD, Joel St-Denis Courtier Immobilier Inc., se spécialise dans la vente et l'achat de propriété à revenu. Le groupe offre des stratégies de vente efficace et plans d'investissement qui sauront répondre a vos buts et objectifs.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					
				</div>

			</div>

		</footer>