<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Joel St-Denis votre courtier immobilier</h1>
            <hr>
            <!--<p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>-->
          
          <div class="row">
			<div class="col-md-3">
				<div class="funfacts text-center">
					<div class="icon">
						<i class="fa fa-home"></i>
					</div>
					<h2 class="counter" data-from="0" data-to="294" data-speed="2500"></h2>
					<h4>Propriétés</h4>
				</div>
			</div>
			<div class="col-md-3">
				<div class="funfacts text-center">
					<div class="icon">
						<i class="fa fa-dollar"></i>
					</div>
					<h2 class="counter" data-from="0" data-to="163" data-speed="2500"></h2>
					<h4>Prix Moyen</h4>
				</div>
			</div>
			<div class="col-md-3">
				<div class="funfacts text-center">
					<div class="icon">
						<i class="fa fa-building"></i>
					</div>
					<h2 class="counter" data-from="0" data-to="317" data-speed="2500"></h2>
					<h4>MRB</h4>
				</div>
			</div>
			<div class="col-md-3">
				<div class="funfacts text-center">
					<div class="icon">
						<i class="fa fa-building"></i>
					</div>
					<h2 class="counter" data-from="0" data-to="458" data-speed="2500"></h2>
					<h4>MRN</h4>
				</div>
			</div>
		  </div><br><br>			
            <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
