<section class="no-padding" id="portfolio">
    <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center prop-header">
            <h2 class="section-heading">Featured Listings</h2>
            <hr class="primary">
            <br/>
        </div>
    </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/condos-3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                38 Units
                            </div>
                            <div class="project-name">
                                Lasalle
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/condos-3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                18 Units
                            </div>
                            <div class="project-name">
                                Lasalle
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/condos-3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                10 Units
                            </div>
                            <div class="project-name">
                                Verdun
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/condos-3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                12 Units
                            </div>
                            <div class="project-name">
                                Lachine
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/condos-3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Condo
                            </div>
                            <div class="project-name">
                                Lachine
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/condos-3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Condo
                            </div>
                            <div class="project-name">
                                Lachine
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div></br>
        <div class="col-lg-8 col-lg-offset-2 text-center">                
                <a href="properties" class="btn btn-default btn-lg">See all properties</a>
            </div>
    </div>
</section>
