<section>
  <div class="inside-banner">
  <div class="container"> 
    <!--<span class="pull-right"><a href="#">Home</a> / Buy</span>-->
    <h2>Get Alerts</h2>
  </div>
  </div>
<!-- banner -->

	<div class="container">
	  <!--<button type="button" class="btn btn-primary btn-lg btn-block">Connect using SMS</button>
	  <button type="button" class="btn btn-default btn-lg btn-block">Sign Up with Facebook </button>-->
	  <a href="https://www.linkedin.com/company-beta/6931570/" class="btn btn-primary btn-lg btn-block" role="button" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
    <i class="fa-linkedin-square fa"></i> Connect using LinkedIn</a>
	  <a href="https://feedburner.google.com/fb/a/mailverify?uri=Joelstdenis&amp;loc=en_US" class="btn btn-primary btn-lg btn-block" role="button" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
    <i class="fa-envelope fa"></i> Connect using Email</a>
	</div>
</section>